.addForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addForm button{
    padding: 0;
    min-width: 30px;
    height: 25px;
    font-size: 25px;
    margin-top: 10px;
}

.addForm input{
    width: 150px;
    padding-top: 0;
}